<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Spotify Song</title>
</head>
<body>
    <h1>Retrieve Songs</h1>
    <!-- Play a Song on Spotify -->
    <form action="/songsRetrieve" method="post"> 
        <!-- "/play" -->
        <label for="bpm">Enter Spotify URI:</label>
        <!-- track_uri -->
        <input type="text" id="bpm" name="bpm" placeholder="bpm">
        <!-- spotify:track:URI -->
        <button type="submit">Play</button>
    </form>

</body>
</html>
