<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start/Stop Control</title>
    <script>
        // Function to handle start button click
        function start() {
            fetch('/songsRetrieve', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ 'isRunning': true })
            }).then(response => response.json())
              .then(data => document.getElementById('status').innerText = data.message);
        }       

        // Function to handle stop button click
        function stop() {
            fetch('/stop', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ 'isRunning': false })
            }).then(response => response.json())
              .then(data => document.getElementById('status').innerText = data.message);
            console.log()
        }
    </script>
</head>
<body>
    <h1>Control Start/Stop</h1>
    <button onclick="start()">Start</button>
    <button onclick="stop()">Stop</button>
</body>
</html>
